:root {
    --primaryColor: #E21C7A;
    --primaryColorRGBA: rgba(226, 28, 122, 1);
    --secondaryColor: #B31361;
    --thirdColor: #42687E;
    --fourthColor: #7E4268;
    --fifthColor: #7E4259;
    --sixthColor: #7E424A;
    --seventhColor: #7E4942;
    --grayLine: #EAEAEA;
    --colorGrayText: #525141;
}
.images {
    height: 400px;
}
button.btn-purchase {
    border-radius: 20px;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}
button.btn-purchase:hover {
    border-radius: 20px;
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}

button.btn-email {
    border-radius: 20px;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}
button.btn-email:hover {
    border-radius: 20px;
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    color: white;
}
button.btn-email:hover > i{
    color: white;
}
.nav-link {
    border-bottom: 2px solid white;
}
.nav-link:hover {
    color: var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
    transition: .7s ease-in-out;
}
.lineBottom{
    border-bottom: .2px solid var(--grayLine);
}
button.dropdown-toggle {
    border-bottom: 2px solid white;
}
button.dropdown-toggle:hover {
    color: var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
    transition: .7s ease-in-out;
}
.dropdown-item:hover {
    color: var(--primaryColor);
}
.dropdown-toggle::after {
    display:none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    width: fit-content;
}
.dropleft:hover>.dropdown-menu {
    display: block;
    width: fit-content;
}
.dropdown-menu button:hover {
    color: var(--primaryColor);
}
.dropdown-menu {
    border: 1px solid var(--grayLine);
    border-radius: 0;
}

.swiper-container {
    width: auto;
    height: 500px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .selected {
    color: var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
    transition: .7s ease-in-out;
  }

  .card-link {
      text-decoration: none;
      color: var(--primaryColor)!important;
  }
  .card-link:hover {
    color: var(--secondaryColor)!important;
}

.badge {
    color: var(--primaryColor);
}

/* Footer */

.footer-page {
    color: black;
}
.footer-page i {
    color: var(--primaryColor);
    font-size: 2em;
}
.footer-page i:hover {
    color: var(--secondaryColor);
    font-size: 2em;
}
.footer-page i.fa-envelope {
    font-size: 1em!important;
}
.title-footer {
    color: var(--primaryColor);
}
.copy-footer {
    color: black;
}
.copy-footer p a {
    color: var(--primaryColor);
}
.copy-footer p a:hover {
    color: var(--secondaryColor);
    text-decoration: none;
}

.footer-text {
    color: var(--primaryColor)!important; 
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(226, 28, 122, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(226, 28, 122, 0.6);
  outline: 0 none;
}

div.card {
    border-radius: 0;
    border: none;
    box-shadow: none!important;
}
div.card:hover {
    border-radius: 0;
    transition: .8s ease-in-out;
}

.dropdown-item:active:focus {
    color: #ffffff; 
    background-color: var(--primaryColor);
  }
  
.text-highlighted {
    color: var(--primaryColor);
}
.links {
    color: black
    
}
.links:hover {
    color: var(--primaryColor);
    text-decoration: none;
}
.autorLink {
    color: var(--primaryColor);
}
.autorLink:hover {
    color: var(--secondaryColor);
    text-decoration: none;
}
.internal-links {
    color: var(--primaryColor)
    
}
.internal-links:hover {
    color: var(--secondaryColor);
    text-decoration: none;
}
.image-cover {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 0;
    padding: 2px;
    /* background-image: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%); */
}   
.card-title{
    color: white;
}
.card-title h1 {
    font-size: 2em;
    
}
.card-title:hover {
    color: var(--primaryColor);
    text-decoration: none;
}
.autor-title {
    color: white;
}
.autor-link {
    color: var(--primaryColor);
}
.autor-link:hover {
    color: var(--secondaryColor);
    text-decoration: none;
}
.title-back {
    background-color: rgba(0,0,0,.4);
    padding: 5px;
}
.btn-more {
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 50px;
}
.btn-more:hover {
    color: white;
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
}
.page-link {
    color: var(--primaryColor)!important;
    border-radius: 0;
    font-size: 1.2em;
}
.pagination {
    border-radius: 0!important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    background-color: var(--primaryColor)!important;
    color: white!important;
    border: 1px solid var(--primaryColor)!important;
}
.pagination > .disabled > a {
    color: #5a5a5a!important;
    opacity: 85%;
}
.pagination > .active > a
{
    background-color: var(--secondaryColor)!important;
    color: white!important;
    border: 1px solid var(--secondaryColor)!important;
}

.pagination > .active > a:hover
{
    background-color: var(--primaryColor)!important;
    color: white!important;
    border: 1px solid var(--primaryColor)!important;
}
.page-link {
    border-radius: 0!important;
    border: 1px solid var(--grayLine);
}

/* Contenido de las notas */
div .contenido-nota {
    font-size: 1.2em;
}

div .contenido-nota a {
    text-decoration: none;
    color: var(--primaryColor);
}
div .contenido-nota a:hover {
    color: var(--secondaryColor);
}
blockquote {
    background-color: #F5F5F5;
    padding: 20px;
    border-left: 5px solid var(--primaryColor);
    font-size: 1.3em;
}

/* Tienda online */
.btn:focus {
    outline: none;
    box-shadow: none;
}
.icon-shop {
    font-size: 1.3em;
}

.construct-image {
    height: 500px;
    max-width: 100%;
}

/* Naveagacion movil */

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.fa-bars {
    color: var(--primaryColor);
    font-size: 1.2em;
}

.bg-black {
    background-color: black;
}